.paginationWrap{
    display: flex;
    padding-top: var(--spacing-lg, 12px);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-lg, 12px);
    align-self: stretch;
    border-top: 1px solid var(--Colors-Border-border-secondary, #EAECF0);
}

.buttonWrapPrevious{
    display: flex;
    height: 36px;
    align-items: center;
    flex: 1 0 0;
}

.pageCount{
    color: var(--colors-foreground-fg-secondary-700, #344054);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.buttonWrapNext{
    display: flex;
    height: 36px;
    justify-content: flex-end;
    align-items: center;
    flex: 1 0 0;
}
