.pageLayout {
    display: flex;
    /* min-width: 375px; */
    max-width: 1280px;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.FilterAndProduct{
    display: flex;
    /* min-width: var(--Breaking-Points-iPhone-375px, 375px); */
    max-width: var(--Breaking-Points-Desktop-1280px, 1280px);
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    flex-wrap: wrap;
    background: var(--Colors-Background-bg-primary, #FFF);
}

.filterSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Base-4-Premitives-1, 4px);
    align-self: stretch;
    width: var(--spacing-system-guides-corner-radius-88, 320px);
    padding: var(--Base-4-Premitives-4, 16px) var(--Base-4-Premitives-4, 16px) var(--Base-4-Premitives-12, 48px) var(--Base-4-Premitives-4, 16px);
}

.PageHeaderSection {
    display: flex;
    min-width: var(--spacing-system-guides-corner-radius-84, 336px);
    max-width: var(--grid-layouts-desktop-1280-px, 1280px);
    padding: var(--Base-4-Premitives-4, 16px);
    align-items: center;
    align-content: center;
    gap: var(--Base-4-Premitives-6, 24px) var(--Base-4-Premitives-8, 32px);
    align-self: stretch;
    flex-wrap: wrap;
    background: var(--Colors-Background-bg-primary, #FFF);
}
