.ProductListing{
    display: flex;
    /* width: var(--Base-4-Premitives-220, 880px); */
    min-width: var(--spacing-system-guides-corner-radius-88, 352px);
    max-width: var(--spacing-system-guides-corner-radius-220, 880px);
    padding: var(--Base-4-Premitives-4, 16px) var(--Base-4-Premitives-0, 0px) var(--spacing-xl, 16px) var(--Base-4-Premitives-4, 16px);
    align-items: flex-start;
    align-content: flex-start;
    gap: 16px var(--spacing-system-guides-corner-radius-4, 16px);
    flex-wrap: wrap;
}

.productListingSectionPagination{
    display: flex;
    width: var(--Base-4-Premitives-220, 880px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-md, 8px);
}
