.reviewSummaryWrap {
    display: flex;
    padding: var(--spacing-system-guides-corner-radius-12, 48px) var(--Base-4-Premitives-12, 48px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-system-guides-corner-radius-5, 20px);
    align-self: stretch;
    border-radius: var(--spacing-system-guides-corner-radius-4, 16px);
    border-top: 1px solid var(--Colors-Border-border-tertiary, #F2F4F7);
    border-right: 1px solid var(--Colors-Border-border-tertiary, #F2F4F7);
    border-bottom: 1px solid var(--Colors-Border-border-tertiary, #F2F4F7);
    border-left: 1px solid var(--Colors-Border-border-tertiary, #F2F4F7);
    background: var(--Colors-Background-bg-tertiary, #F2F4F7);
}

.reviewInfographics {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 16px var(--spacing-system-guides-corner-radius-4, 16px);
    align-self: stretch;
    flex-wrap: wrap;
}

.ratingInfographic {
    display: flex;
    min-width: var(--spacing-system-guides-corner-radius-72, 288px);
    max-width: var(--spacing-system-guides-corner-radius-64, 288px);
    padding: var(--spacing-system-guides-corner-radius-4, 16px) var(--spacing-system-guides-corner-radius-8, 32px) var(--spacing-system-guides-corner-radius-4, 16px) var(--spacing-system-guides-corner-radius-0, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-system-guides-corner-radius-4, 16px);
}

.starsInfographics {
    display: flex;
    min-width: var(--spacing-system-guides-corner-radius-72, 288px);
    max-width: var(--spacing-system-guides-corner-radius-64, 288px);
    padding: var(--spacing-system-guides-corner-radius-4, 16px) var(--spacing-system-guides-corner-radius-8, 32px) var(--spacing-system-guides-corner-radius-4, 16px) var(--spacing-system-guides-corner-radius-0, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-system-guides-corner-radius-2, 8px);
    flex: 1 0 0;
}

.ratingSummary {
    display: flex;
    align-items: center;
    gap: var(--spacing-system-guides-corner-radius-2, 8px);
}

.ratingSummaryFigure {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: var(--colors-text-text-brand-tertiary-600, #DA154D);
    text-align: center;
    text-overflow: ellipsis;

    /* Display xl/Bold */
    font-family: var(--Font-family-font-family-display, Inter);
    font-size: var(--Font-size-display-xl, 60px);
    font-style: normal;
    font-weight: 700;
    line-height: var(--Line-height-display-xl, 72px); /* 120% */
    letter-spacing: -1.2px;
    line-clamp: 1;
}

.starNumberReview {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-system-guides-corner-radius-2, 8px);
}

.avareageReviewCount {
    color: var(--colors-text-text-primary-900, #101828);

    /* Text sm/Semibold */
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-sm, 14px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
}

.starsInfographic {
    display: flex;
    align-items: center;
    gap: var(--spacing-system-guides-corner-radius-2, 8px);
    align-self: stretch;
}

.nTHStar {
    display: flex;
    padding-right: var(--spacing-system-guides-corner-radius-4, 16px);
    align-items: center;
    gap: var(--spacing-system-guides-corner-radius-0, 0px);
}

.nTHWrapper {
    display: flex;
    width: var(--Base-4-Premitives-6, 24px);
    min-width: var(--spacing-system-guides-corner-radius-6, 24px);
    max-width: var(--spacing-system-guides-corner-radius-6, 24px);
    padding: var(--Base-4-Premitives-0, 0px) var(--Base-4-Premitives-1, 4px);
    justify-content: center;
    align-items: center;
    gap: var(--Base-4-Premitives-2, 8px);
}

.nTHNumber {
    color: var(--Colors-Text-text-tertiary_hover, #344054);
    
    /* Text md/Bold */
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-md, 16px);
    font-style: normal;
    font-weight: 700;
    line-height: var(--Line-height-text-md, 24px); /* 150% */
}

.progressMeterReviewCount {
    display: flex;
    align-items: center;
    gap: var(--spacing-system-guides-corner-radius-1, 4px);
    flex: 1 0 0;
    align-self: stretch;
}

.nTHStarReviewsWrap {
    display: flex;
    padding: var(--spacing-system-guides-corner-radius-0, 0px) var(--spacing-system-guides-corner-radius-1, 4px);
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.nTHStarReviews {
    color: var(--colors-text-text-brand-tertiary-600, #DA154D);

    /* Text sm/Medium */
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-sm, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
}
