.CartegoriesSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Filters {
    display: flex;
    min-width: var(--spacing-system-guides-corner-radius-80, 320px);
    max-width: var(--spacing-system-guides-corner-radius-80, 320px);
    padding: var(--spacing-system-guides-corner-radius-2, 8px) var(--spacing-system-guides-corner-radius-2, 8px) var(--spacing-system-guides-corner-radius-2, 8px) var(--spacing-system-guides-corner-radius-3, 12px);
    align-items: center;
    gap: 10px;
    border-radius: var(--spacing-system-guides-corner-radius-2, 8px);
}
