.CatalogFilterSection{
    width: 100%;
    display: flex;
    min-width: var(--spacing-system-guides-corner-radius-88, 320px);
    max-width: var(--spacing-system-guides-corner-radius-88, 320px);
    padding: var(--Base-4-Premitives-4, 16px) var(--Base-4-Premitives-4, 16px) var(--Base-4-Premitives-12, 48px) var(--Base-4-Premitives-4, 16px);
    flex-direction: column;
    align-items: left;
    gap: var(--Base-4-Premitives-4, 16px);
    flex: 1 0 0;
    background: var(--Colors-Background-bg-primary, #FFF);
    overflow: hidden;
}

.headerStackWrap {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.subHeaderStackWrap {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.filtersLists {
    display: flex;
    padding: var(--spacing-system-guides-corner-radius-0, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-system-guides-corner-radius-0, 0px);
    transition: max-height 0.3s ease-out;
    overflow: hidden;
}

.filtersListsCollapsed {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
}

.filtersListsExpanded {
    max-height: 100%;
    opacity: 1;
    visibility: visible;
}

/* BRAND STACK */
.brandStackWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
