.defaultWrapper {
    display: flex;
    height: var(--Base-4-Premitives-128, 512px);
    min-width: var(--spacing-system-guides-corner-radius-84, 336px);
    max-width: var(--spacing-system-guides-corner-radius-128, 512px);
    min-height: var(--Grid-layouts-iPhone-375px, 375px);
    max-height: var(--spacing-system-guides-corner-radius-128, 512px);
    justify-content: center;
    align-items: center;
    align-content: center;
    flex: 1 0 0;
    flex-wrap: wrap;
    border-radius: var(--spacing-system-guides-corner-radius-3, 12px);
    border: 1px solid var(--Colors-Border-border-secondary, #EAECF0);
    background: var(--Colors-Background-bg-primary, #FFF);
}

.storeInfo {
    display: flex;
    height: 310px;
    padding: var(--spacing-3xl, 24px) var(--spacing-none, 0px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-system-guides-corner-radius-16, 64px);
    flex: 1 0 0;
}
