.featuredProductCard {
    display: flex;
    width: var(--spacing-system-guides-corner-radius-84, 336px);
    height: var(--spacing-system-guides-corner-radius-148, 592px);
    padding-bottom: var(--spacing-system-guides-corner-radius-3, 12px);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--spacing-system-guides-corner-radius-3, 12px);
    border: 1px solid var(--Colors-Border-border-secondary, #EAECF0);
    background: var(--Colors-Background-bg-primary, #FFF);
}

.imageContainer {
    display: flex;
    height: 336px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
}

.productPhoto {
    width: var(--Base-4-Premitives-84, 336px);
    height: var(--Base-4-Premitives-84, 336px);
    width: 100%;
    object-fit: cover;
}
