.footerWrapper {
    display: flex;
    /* width: var(--width-3xl, 1280px); */
    min-width: var(--Grid-layouts-iPhone-375px, 375px);
    max-width: var(--Containers-xl, 1280px);
    padding: var(--spacing-system-guides-corner-radius-0, 0px) var(--container-padding-mobile, 16px) var(--spacing-6xl, 48px) var(--container-padding-mobile, 16px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--container-padding-desktop, 32px);
    background: var(--Colors-Background-bg-primary, #FFF);
}

.logoStores {
    display: flex;
    padding-top: var(--container-padding-mobile, 16px);
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: var(--container-padding-desktop, 32px);
    align-self: stretch;
    flex-wrap: wrap;
    border-top: 1px solid var(--Colors-Border-border-secondary, #EAECF0);
}

.productLogo {
    display: flex;
    align-items: center;
    gap: var(--spacing-system-guides-corner-radius-2, 8px);
}

.logo {
    display: flex;
    width: 170px;
    height: 48px;
    padding: 2px 0.738px 2px 0px;
    justify-content: center;
    align-items: center;
    gap: 11.38px;
}

.appStores {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-system-guides-corner-radius-1, 4px);
}

.storeLogo {
    width: 135px;
    height: 40px;
}

.footerLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: var(--Base-4-Premitives-4, 16px) var(--spacing-4xl, 32px);
    align-self: stretch;
    flex-wrap: wrap;
}

/* .link {
    display: flex;
    align-items: center;
    gap: 8px;
} */

.linkText {
    color: var(--colors-text-text-tertiary-600, #475467);

    /* Text md/Medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.linksSocials {
    display: flex;
    padding: 0px var(--spacing-none, 0px);
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-6xl, 48px);
    align-self: stretch;
}

.socialIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-system-guides-corner-radius-6, 24px);
}

.socialLogo {
    width: var(--Base-4-Premitives-6, 24px);
    height: var(--Base-4-Premitives-6, 24px);
}

.copyrightInfoWrapper {
    display: flex;
    padding-top: var(--container-padding-mobile, 16px);
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: var(--container-padding-desktop, 32px);
    align-self: stretch;
    flex-wrap: wrap;
    border-top: 1px solid var(--Colors-Border-border-secondary, #EAECF0);
}

.copyrightInfoText {
    flex: 1 0 0;
    color: var(--colors-text-text-tertiary-600, #475467);
    text-align: center;

    /* Text xs/Regular */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}
