.countDownWrapper {
    display: inline-flex;
    padding: var(--spacing-system-guides-corner-radius-1, 4px);
    align-items: flex-start;
    gap: var(--spacing-system-guides-corner-radius-1, 4px);
}

.CounterPad {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-system-guides-corner-radius-1, 4px);
}

.counterContainer {
    display: flex;
    width: var(--Base-4-Premitives-12, 40px);
    height: var(--Base-4-Premitives-12, 40px);
    min-width: var(--Base-4-Premitives-12, 40px);
    max-width: var(--Base-4-Premitives-12, 40px);
    min-height: var(--Base-4-Premitives-12, 40px);
    max-height: var(--Base-4-Premitives-12, 40px);
    padding: var(--spacing-md, 8px) var(--spacing-lg, 8px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md, 8px);
    border-radius: var(--Base-4-Premitives-1, 4px);
    background: var(--Colors-Background-bg-brand-section, #9E0F38);
}

.counterLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md, 8px);
}

.counterText {
    color: var(--Colors-Text-text-primary_on-brand, #FFF);
    text-align: center;
    
    /* Text xl/Regular */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}

.timeUnit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md, 8px);
}

.unit {
    color: var(--colors-text-text-brand-primary-900, #740B29);
    text-align: center;
    
    /* Text xs/Regular */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}

.separatorWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-system-guides-corner-radius-1, 4px);
}

.separator {
    display: flex;
    width: 4px;
    height: 48px;
    min-width: var(--spacing-system-guides-corner-radius-1, 4px);
    max-width: var(--spacing-system-guides-corner-radius-1, 4px);
    min-height: var(--spacing-system-guides-corner-radius-12, 40px);
    max-height: var(--spacing-system-guides-corner-radius-12, 40px);
    padding: 2px var(--spacing-system-guides-corner-radius-3, 2px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.separatorText {
    color: var(--colors-text-text-brand-primary-900, #740B29);
    text-align: center;
    
    /* Text xl/Regular */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}
