.cardWrapper {
    display: flex;
    width: var(--spacing-system-guides-corner-radius-72, 288px);
    height: var(--Base-4-Premitives-104, 416px);
    min-width: var(--spacing-system-guides-corner-radius-72, 288px);
    max-width: var(--spacing-system-guides-corner-radius-72, 288px);
    min-height: var(--spacing-system-guides-corner-radius-104, 416px);
    max-height: var(--spacing-system-guides-corner-radius-104, 416px);
    padding-bottom: var(--spacing-system-guides-corner-radius-3, 12px);
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-lg, 12px);
    flex-shrink: 0;
    border-radius: var(--Base-4-Premitives-3, 12px);
    border: 1px solid var(--Colors-Border-border-secondary, #EAECF0);
    background: var(--Colors-Background-bg-primary, #FFF);
    cursor: pointer;
    transition: all 0.1s ease;
    overflow: hidden;
    position: relative;
}

.cardWrapper:hover,
.cardWrapper:focus-within {
    border-radius: var(--spacing-system-guides-corner-radius-3, 12px);
    border: 1px solid var(--Colors-Border-border-brand-solid, #DA154D);
    background: var(--Colors-Background-bg-primary, #FFF);
    
    /* Shadows/shadow-lg */
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    transform: scale(1.0125);
}

.productImageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background: var(--Gray-300, #D0D5DD);
    cursor: pointer;
    transition: all 0.1s ease;
    overflow: hidden;
    position: relative;
}

.productImage {
    max-width: 100%;
    /* max-height: 100%; */
    object-fit: cover;

}

.productDetails {
    display: flex;
    padding: var(--spacing-none, 0px) var(--spacing-lg, 12px);
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: var(--spacing-2xl, 20px);
    flex: 1 0 0;
    align-self: stretch;
}

.namePrice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-system-guides-corner-radius-1, 4px);
    align-self: stretch;
}

.productName {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    flex-wrap: wrap;
}

.productLabel {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    flex: 1 0 0;
    overflow: hidden;
    color: var(--colors-text-text-primary-900, #101828);
    text-align: center;
    text-overflow: ellipsis;
    white-space: normal;
    
    /* Text sm/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}
    
.productPrice {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
    
.currency {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: var(--colors-text-text-brand-tertiary-600, #DA154D);
    text-align: center;
    text-overflow: ellipsis;

    /* Text xl/Regular */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}
    
.price {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: var(--colors-text-text-brand-tertiary-600, #DA154D);
    text-align: center;
    text-overflow: ellipsis;

    /* Text xl/Semibold */
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 150% */
}

.favoriteButtonContainer {
    position: absolute;
    top: 0;
    right: 0;
}

.link {
    text-decoration: none;
}

.link {
    text-decoration: none;
}
