.ProductMediaConfiguratorWrap {
    display: flex;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    gap: var(--spacing-system-guides-corner-radius-12, 48px);
    flex-wrap: wrap;
}

.productMediaBrowser {
    display: flex;
    min-width: var(--spacing-system-guides-corner-radius-84, 336px);
    max-width: var(--Base-4-Premitives-148, 592px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-system-guides-corner-radius-4, 16px);
    flex: 1 0 0;
}

.productDetails {
    display: flex;
    min-width: var(--width-xxs, 320px);
    max-width: var(--spacing-system-guides-corner-radius-84, 336px);
    padding: 0px var(--container-padding-mobile, 16px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-xl, 16px);
    flex: 1 0 0;
}

.mainProductImageWrap {
    display: flex;
    width: 100%;
    padding-top: 100%;
    position: relative;
    border-radius: var(--spacing-system-guides-corner-radius-3, 12px);
    background: var(--Colors-Background-bg-primary, #FFF);
    overflow: hidden;
}

.mainProductImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--spacing-system-guides-corner-radius-3, 12px);
    background: var(--Colors-Background-bg-primary, #FFF);
    overflow: hidden;
    object-fit: cover;
}

.thumbnailsContainer {
    display: flex;
    height: var(--Base-4-Premitives-32, 128px);
    align-items: center;
    gap: var(--spacing-system-guides-corner-radius-4, 16px);
    flex-shrink: 0;
    align-self: stretch;
    overflow-x:scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
