.cardWrapper {
    display: flex;
    width: var(--Base-4-Premitives-72, 288px);
    max-width: var(--width-xxs, 320px);
    height: var(--Base-4-Premitives-32, 128px);
    align-items: center;
    gap: var(--spacing-lg, 12px);
    flex-shrink: 0;
    border-radius: var(--radius-xl, 12px);
    border: 1px solid var(--Colors-Border-border-secondary, #EAECF0);
    background: var(--Colors-Background-bg-primary, #FFF);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.1s ease;
    flex-grow: 1;
}

.cardWrapper:hover,
.cardWrapper:focus-within {
    border-radius: var(--radius-xl, 12px);
    border: 1px solid var(--Colors-Border-border-brand-solid, #DA154D);
    background: var(--Colors-Background-bg-primary, #FFF);

    /* Shadows/shadow-lg */
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    transform: scale(1.0125);
}

.imageWrapper {
    display: flex;
    width: var(--spacing-system-guides-corner-radius-32, 128px);
    height: var(--spacing-system-guides-corner-radius-32, 128px);
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--Gray-300, #D0D5DD);
}

.productImage {
    max-width: 100%;
    /* max-height: 100%; */
    object-fit: cover;
}

.productDetails {
    display: flex;
    padding: var(--spacing-system-guides-corner-radius-3, 12px) var(--spacing-system-guides-corner-radius-4, 16px);
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.namePrice {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-system-guides-corner-radius-1, 4px);
    flex: 1 0 0;
    align-self: stretch;
}

.productName {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    align-self: stretch;
    flex-wrap: wrap;  /* Allow wrapping */
}

.productLabel {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: var(--colors-text-text-primary-900, #101828);
    text-overflow: ellipsis;

    /* Text xs/Medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */

    /* Ensure wrapping */
    white-space: normal; 
    word-wrap: break-word; 
}

.productPrice {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.currency {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: var(--colors-text-text-brand-tertiary-600, #DA154D);
    text-align: center;
    text-overflow: ellipsis;

    /* Text xs/Regular */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}

.price {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: var(--colors-text-text-brand-tertiary-600, #DA154D);
    text-overflow: ellipsis;

    /* Text xs/Medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}
