.cardWrap{
    display: inline-flex;
    min-width: var(--spacing-system-guides-corner-radius-72, 288px);
    max-width: var(--spacing-system-guides-corner-radius-72, 288px);
    min-height: var(--spacing-system-guides-corner-radius-56, 224px);
    max-height: var(--spacing-system-guides-corner-radius-56, 224px);
    padding: var(--spacing-system-guides-corner-radius-4, 16px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-system-guides-corner-radius-3, 12px);
    border-radius: var(--spacing-system-guides-corner-radius-3, 12px);
    border: 1px solid var(--Colors-Border-border-secondary, #EAECF0);
    background: var(--Colors-Background-bg-secondary, #F9FAFB);
}

.testimonyTextWrap{
    display: flex;
    padding: var(--spacing-none, 0px);
    align-items: flex-start;
    gap: var(--spacing-lg, 12px);
    align-self: stretch;
}

.testimonyText{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    flex: 1 0 0;
    overflow: hidden;
    color: var(--colors-text-text-tertiary-600, #475467);
    text-overflow: ellipsis;

    /* Text xs/Regular */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
}
