.testimonialCard_LoggedInWrap {
    display: flex;
    min-height: var(--spacing-system-guides-corner-radius-64, 256px);
    padding: var(--spacing-system-guides-corner-radius-8, 32px) var(--spacing-system-guides-corner-radius-0, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-system-guides-corner-radius-5, 20px);
    border-radius: var(--spacing-system-guides-corner-radius-0, 0px);
    border-bottom: 1px solid var(--Colors-Border-border-secondary, #EAECF0);
    background: var(--Colors-Background-bg-primary, #FFF);
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.testimonialCard_LoggedInWrap:last-child {
    border-bottom: none;
}

.buyerDetails {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: var(--spacing-2xl, 20px);
    align-self: stretch;
    flex-wrap: wrap;
}

.buyerTestimonial {
    display: flex;
    max-width: var(--spacing-system-guides-corner-radius-304, 1216px);
    padding: 0px 0px 0px var(--spacing-system-guides-corner-radius-0, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-lg, 12px);
    align-self: stretch;
}

.customerMediaThumbnails {
    display: flex;
    align-items: center;
    gap: var(--spacing-system-guides-corner-radius-3, 12px);
    align-self: stretch;
}

.reviewTitleWrap {
    display: flex;
    max-width: var(--spacing-system-guides-corner-radius-304, 1216px);
    padding: 0px 0px 0px var(--spacing-system-guides-corner-radius-0, 0px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-lg, 12px);
}

.reviewTitle {
    color: var(--colors-text-text-primary-900, #101828);
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-md, 16px);
    font-style: normal;
    font-weight: 600;
    line-height: var(--Line-height-text-md, 24px); /* 150% */
}

.testimonialTextCollapsed {
    max-height: 60px; /* Adjust this value to match the collapsed state */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    align-self: stretch;
    overflow: hidden;
    color: var(--colors-text-text-tertiary-600, #475467);
    text-overflow: ellipsis;
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-sm, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
    transition: max-height 0.2s ease-in-out;
    line-clamp: 3;
}

.testimonialTextexpanded {
    max-height: 1280px; /* Adjust this value to match the expanded state */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    align-self: stretch;
    overflow: hidden;
    color: var(--colors-text-text-tertiary-600, #475467);
    text-overflow: ellipsis;
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-sm, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
    transition: max-height 0.4s ease-in-out;
}
