/* TEXTAREA INPUT FIELD */
.textareaInputFieldWrap {
    display: flex;
    width: var(--width-xxs, 420px);
    height: 240px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-sm, 6px);
    flex-shrink: 0;
}

.labelwithInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-sm, 6px);
    flex: 1 0 0;
    align-self: stretch;
}

.labelWraper {
    display: flex;
    align-items: center;
    gap: var(--spacing-xxs, 2px);
}

.label {
    color: var(--colors-text-text-secondary-700, #344054);

    /* Text sm/Medium */
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-sm, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
}

.asterisk {
    color: var(--colors-text-text-brand-tertiary-600, #DA154D);

    /* Text sm/Medium */
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-sm, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
}

.helpIcon {
    display: flex;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
}

.textInputArea {
    display: flex;
    padding: var(--spacing-lg, 12px) 14px;
    align-items: flex-start;
    gap: var(--spacing-md, 8px);
    flex: 1 0 0;
    align-self: stretch;
    border-radius: var(--radius-md, 8px);
    border: 1px solid var(--Colors-Border-border-primary, #D0D5DD);
    background: var(--Colors-Background-bg-primary, #FFF);

    /* Shadows/shadow-xs */
    box-shadow: 0px 1px 2px 0px var(--Colors-Effects-Shadows-shadow-xs, rgba(16, 24, 40, 0.05));
    color: var(--Colors-Text-text-placeholder, #667085);

    /* Text md/Regular */
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-sm, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-height-text-md, 24px); /* 150% */
    outline: none;
    transition: all ease-in-out 200ms;

}

.textInputArea:focus,
.textInputArea:hover {
    display: flex;
    padding: var(--spacing-lg, 12px) 14px;
    align-items: flex-start;
    gap: var(--spacing-md, 8px);
    flex: 1 0 0;
    align-self: stretch;
    border-radius: var(--radius-md, 8px);
    border: 1px solid var(--Colors-Border-border-brand, #EA275E);
    background: var(--Colors-Background-bg-primary, #FFF);

    /* Shadows/shadow-xs */
    box-shadow: 0px 1px 2px 0px var(--Colors-Effects-Shadows-shadow-xs, rgba(16, 24, 40, 0.05));
    color: var(--colors-text-text-primary-900, #101828);

    /* Text md/Regular */
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-sm, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-height-text-md, 24px); /* 150% */
}

.hintText {
    align-self: stretch;
    color: var(--colors-text-text-tertiary-600, #475467);

    /* Text sm/Regular */
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-sm, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
}

/* INPUT FIELD */
.inputFieldWrap {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-sm, 6px);
}

.labelInputFieldWrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-sm, 6px);
    align-self: stretch;
}

.labelFieldWapper {
    display: flex;
    align-items: flex-start;
    gap: var(--spacing-xxs, 2px);
}

.inputFieldLabel {
    color: var(--colors-text-text-secondary-700, #344054);

    /* Text sm/Medium */
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-sm, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
}

.inputFieldAsterisk {
    color: var(--colors-text-text-brand-tertiary-600, #DA154D);

    /* Text sm/Medium */
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-sm, 14px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
}

.inputField {
    display: flex;
    padding: var(--spacing-md, 8px) var(--spacing-lg, 12px);
    align-items: center;
    gap: var(--spacing-md, 8px);
    align-self: stretch;
    border-radius: var(--radius-md, 8px);
    border: 1px solid var(--Colors-Border-border-primary, #D0D5DD);
    background: var(--Colors-Background-bg-primary, #FFF);

    /* Shadows/shadow-xs */
    box-shadow: 0px 1px 2px 0px var(--Colors-Effects-Shadows-shadow-xs, rgba(16, 24, 40, 0.05));
    flex: 1 0 auto;
    overflow: hidden;
    color: var(--colors-text-text-primary-900, #101828);
    text-overflow: ellipsis;

    /* Text md/Regular */
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-sm, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-height-text-md, 24px); /* 150% */
    line-clamp: 1;
    outline: none;
    transition: all ease-in-out 200ms;
}

.inputField:hover,
.inputField:focus {
    display: flex;
    padding: var(--spacing-md, 8px) var(--spacing-lg, 12px);
    align-items: center;
    gap: var(--spacing-md, 8px);
    align-self: stretch;
    border-radius: var(--radius-md, 8px);
    border: 1px solid var(--Colors-Border-border-brand, #EA275E);
    background: var(--Colors-Background-bg-primary, #FFF);

    /* Shadows/shadow-xs */
    box-shadow: 0px 1px 2px 0px var(--Colors-Effects-Shadows-shadow-xs, rgba(16, 24, 40, 0.05));
}

.inputFieldHintText {
    align-self: stretch;
    color: var(--colors-text-text-tertiary-600, #475467);

    /* Text sm/Regular */
    font-family: var(--Font-family-font-family-body, Inter);
    font-size: var(--Font-size-text-sm, 14px);
    font-style: normal;
    font-weight: 400;
    line-height: var(--Line-height-text-sm, 20px); /* 142.857% */
}
