.storeLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xs, 4px);
}

.storeName {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: var(--colors-text-text-primary-900, #101828);
    text-align: center;
    text-overflow: ellipsis;

    /* Text sm/Semibold */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 142.857% */
    line-clamp: 1;
}


.verifiedTick {
    width: var(--Base-4-Premitives-5, 20px);
    height: var(--Base-4-Premitives-5, 20px);
}
