.Badge_PillColor_SM_LeadIcon_SuccessWrap {
    display: inline-flex;
    padding: var(--spacing-xxs, 2px) var(--spacing-md, 8px) var(--spacing-xxs, 2px) var(--spacing-sm, 6px);
    align-items: center;
    gap: var(--spacing-xxs, 2px);
    border-radius: var(--radius-full, 9999px);
    border: 1px solid var(--Component-colors-Utility-Success-utility-success-200, #ABEFC6);
    background: var(--Component-colors-Utility-Success-utility-success-50, #ECFDF3);
}

.Badge_PillColor_SM_LeadIcon_SuccessLabel {
    color: var(--Component-colors-Utility-Success-utility-success-700, #067647);
    text-align: center;

    /* Text xs/Medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

.Badge_PillColor_SM_LeadIcon_SuccesIcon {
    width: 12px;
    height: 12px;
}

.badge_PillOutline_LG_LeadingIcon_BrandColorWrap {
    display: inline-flex;
    padding: var(--spacing-xs, 4px) var(--spacing-lg, 12px) var(--spacing-xs, 4px) 10px;
    align-items: center;
    gap: var(--spacing-xs, 4px);
    border-radius: var(--radius-full, 9999px);
    border: 1.5px solid var(--Component-colors-Utility-Brand-utility-brand-600, #DA154D);
}

.badge_PillOutline_LG_LeadingIcon_BrandColorBadgeLabel {
    color: var(--Component-colors-Utility-Brand-utility-brand-700, #BF1343);
    text-align: center;
    
    /* Text sm/Medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.badge_PillOutline_LG_LeadingIcon_BrandColorBadgeIcon {
    width: 12px;
    height: 12px;
}

/* PILL COLOR SMALL */
.Badge_PillColor_SM_GrayWrap {
    display: inline-flex;
    padding: var(--spacing-xxs, 2px) var(--spacing-md, 8px);
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    border: 1px solid var(--Component-colors-Utility-Gray-utility-gray-200, #EAECF0);
    background: var(--Component-colors-Utility-Gray-utility-gray-50, #F9FAFB);
}

.Badge_PillColor_SM_GrayLabel {
    color: var(--Component-colors-Utility-Gray-utility-gray-700, #344054);
    text-align: center;

    /* Text xs/Medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

.Badge_PillColor_SM_BrandWrap {
    display: inline-flex;
    padding: var(--spacing-xxs, 2px) var(--spacing-md, 8px);
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    border: 1px solid var(--Component-colors-Utility-Brand-utility-brand-200, #FACCD9);
    background: var(--Component-colors-Utility-Brand-utility-brand-50, #FEF1F5);
}

.Badge_PillColor_SM_BrandLabel {
    color: var(--Component-colors-Utility-Brand-utility-brand-700, #BF1343);
    text-align: center;
    
    /* Text xs/Medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

.Badge_PillColor_SM_ErrorWrap {
    display: inline-flex;
    padding: var(--spacing-xxs, 2px) var(--spacing-md, 8px);
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    border: 1px solid var(--Component-colors-Utility-Error-utility-error-200, #FECDCA);
    background: var(--Component-colors-Utility-Error-utility-error-50, #FEF3F2);
}

.Badge_PillColor_SM_ErrorLabel {
    color: var(--Component-colors-Utility-Error-utility-error-700, #B42318);
    text-align: center;
    
    /* Text xs/Medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

.Badge_PillColor_SM_WarningWrap {
    display: inline-flex;
    padding: var(--spacing-xxs, 2px) var(--spacing-md, 8px);
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    border: 1px solid var(--Component-colors-Utility-Warning-utility-warning-200, #FEDF89);
    background: var(--Component-colors-Utility-Warning-utility-warning-50, #FFFAEB);
}

.Badge_PillColor_SM_WarningLabel {
    color: var(--Component-colors-Utility-Warning-utility-warning-700, #B54708);
    text-align: center;
    
    /* Text xs/Medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

.Badge_PillColor_SM_SuccessWrap {
    display: inline-flex;
    padding: var(--spacing-xxs, 2px) var(--spacing-md, 8px);
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    border: 1px solid var(--Component-colors-Utility-Success-utility-success-200, #ABEFC6);
    background: var(--Component-colors-Utility-Success-utility-success-50, #ECFDF3);
}

.Badge_PillColor_SM_SuccessLabel {
    color: var(--Component-colors-Utility-Success-utility-success-700, #067647);
    text-align: center;
    
    /* Text xs/Medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

.Badge_PillColor_SM_GrayBlueWrap {
    display: inline-flex;
    padding: var(--spacing-xxs, 2px) var(--spacing-md, 8px);
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    border: 1px solid var(--Component-colors-Utility-Gray-blue-utility-gray-blue-200, #D5D9EB);
    background: var(--Component-colors-Utility-Gray-blue-utility-gray-blue-50, #F8F9FC);
}

.Badge_PillColor_SM_GrayBlueLabel {
    color: var(--Component-colors-Utility-Gray-blue-utility-gray-blue-700, #363F72);
    text-align: center;
    
    /* Text xs/Medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

.Badge_PillColor_SM_BlueLightWrap {
    display: inline-flex;
    padding: var(--spacing-xxs, 2px) var(--spacing-md, 8px);
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    border: 1px solid var(--Component-colors-Utility-Blue-light-utility-blue-light-200, #B9E6FE);
    background: var(--Component-colors-Utility-Blue-light-utility-blue-light-50, #F0F9FF);
}

.Badge_PillColor_SM_BlueLightLabel {
    color: var(--Component-colors-Utility-Blue-light-utility-blue-light-700, #026AA2);
    text-align: center;
    
    /* Text xs/Medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

.Badge_PillColor_SM_BlueWrap {
    display: inline-flex;
    padding: var(--spacing-xxs, 2px) var(--spacing-md, 8px);
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    border: 1px solid var(--Component-colors-Utility-Blue-utility-blue-200, #B2DDFF);
    background: var(--Component-colors-Utility-Blue-utility-blue-50, #EFF8FF);
}

.Badge_PillColor_SM_BlueLabel {
    color: var(--Component-colors-Utility-Blue-utility-blue-700, #175CD3);
    text-align: center;
    
    /* Text xs/Medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

.Badge_PillColor_SM_IndigoWrap {
    display: inline-flex;
    padding: var(--spacing-xxs, 2px) var(--spacing-md, 8px);
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    border: 1px solid var(--Component-colors-Utility-Indigo-utility-indigo-200, #C7D7FE);
    background: var(--Component-colors-Utility-Indigo-utility-indigo-50, #EEF4FF);
}

.Badge_PillColor_SM_IndigoLabel {
    color: var(--Component-colors-Utility-Indigo-utility-indigo-700, #3538CD);
    text-align: center;
    
    /* Text xs/Medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}
