.Badge_PillColor_SM_LeadIcon_SuccessWrap {
    display: inline-flex;
    padding: var(--spacing-xxs, 2px) var(--spacing-md, 8px) var(--spacing-xxs, 2px) var(--spacing-sm, 6px);
    align-items: center;
    gap: var(--spacing-xxs, 2px);
    border-radius: var(--radius-full, 9999px);
    border: 1px solid var(--Component-colors-Utility-Success-utility-success-200, #ABEFC6);
    background: var(--Component-colors-Utility-Success-utility-success-50, #ECFDF3);
}

.Badge_PillColor_SM_LeadIcon_SuccessLabel {
    color: var(--Component-colors-Utility-Success-utility-success-700, #067647);
    text-align: center;

    /* Text xs/Medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

.Badge_PillColor_SM_LeadIcon_SuccesIcon {
    width: 12px;
    height: 12px;
}

.badge_PillOutline_LG_LeadingIcon_BrandColorWrap {
    display: inline-flex;
    padding: var(--spacing-xs, 4px) var(--spacing-lg, 12px) var(--spacing-xs, 4px) 10px;
    align-items: center;
    gap: var(--spacing-xs, 4px);
    border-radius: var(--radius-full, 9999px);
    border: 1.5px solid var(--Component-colors-Utility-Brand-utility-brand-600, #DA154D);
}

.badge_PillOutline_LG_LeadingIcon_BrandColorBadgeLabel {
    color: var(--Component-colors-Utility-Brand-utility-brand-700, #BF1343);
    text-align: center;
    
    /* Text sm/Medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.badge_PillOutline_LG_LeadingIcon_BrandColorBadgeIcon {
    width: 12px;
    height: 12px;
}

/* PILL COLOR SMALL */
.Badge_PillColor_SM_GrayWrap {
    display: inline-flex;
    padding: var(--spacing-xxs, 2px) var(--spacing-md, 8px);
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    border: 1px solid var(--Component-colors-Utility-Gray-utility-gray-200, #EAECF0);
    background: var(--Component-colors-Utility-Gray-utility-gray-50, #F9FAFB);
}

.Badge_PillColor_SM_GrayLabel {
    color: var(--Component-colors-Utility-Gray-utility-gray-700, #344054);
    text-align: center;

    /* Text xs/Medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

.Badge_PillColor_SM_BrandWrap {
    display: inline-flex;
    padding: var(--spacing-xxs, 2px) var(--spacing-md, 8px);
    align-items: center;
    border-radius: var(--radius-full, 9999px);
    border: 1px solid var(--Component-colors-Utility-Brand-utility-brand-200, #FACCD9);
    background: var(--Component-colors-Utility-Brand-utility-brand-50, #FEF1F5);
}

.Badge_PillColor_SM_BrandLabel {
    color: var(--Component-colors-Utility-Brand-utility-brand-700, #BF1343);
    text-align: center;
    
    /* Text xs/Medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}
