.searchInput {
    display: flex;
    width: 100%;
    
    /* min-width: var(--Base-4-Premitives-72, 288px);
    max-width: var(--Base-4-Premitives-220, 880px); */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--Base-4-Premitives-1, 4px);
    flex: 1 0 0;
    align-self: stretch;
}

.inputWithLabel {
    position: relative;
    display: flex;
    align-items: center;
    align-self: stretch;
    width: 100%;
}

.input {
    flex: 1;
    height: var(--Base-4-Premitives-11, 44px);
    padding-left: var(--Base-4-Premitives-7, 36px); /* Adjust to make space for the icon */
    border-radius: var(--Base-4-Premitives-2, 8px) 0 0 var(--Base-4-Premitives-2, 8px);
    border: 1px solid var(--Colors-Border-border-primary, #D0D5DD);
    background: var(--Colors-Base-white, #FFF);
    transition: all 0.1s ease;
    overflow: hidden;
    color: var(--Base-Black, var(--Colors-Base-black, #000));
    text-overflow: ellipsis;

    /* Text sm/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */ 
    -webkit-appearance: none; /* Remove default clear button in Chrome */
    -moz-appearance: none;    /* Remove default clear button in Firefox */
    appearance: none;         /* Remove default clear button in all browsers */   
}

.searchIcon {
    position: absolute;
    left: 10px; /* Adjust as needed */
    width: var(--Base-4-Premitives-5, 20px);
    height: var(--Base-4-Premitives-5, 20px);
    pointer-events: none; /* Ensure the icon does not block input clicks */
}

.searchButton {
    height: 44px;
    padding: var(--Base-4-Premitives-2, 8px) 14px;
    border-radius: 0 var(--Base-4-Premitives-2, 8px) var(--Base-4-Premitives-2, 8px) 0;
    border: 1px solid var(--colors-foreground-fg-brand-primary-600, #DA154D);
    background: var(--colors-foreground-fg-brand-primary-600, #DA154D);
    color: #FFF;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--Base-White, var(--Colors-Base-white, #FFF));

    /* Text xs/Semibold */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 150% */
    transition: all 0.3s ease;
}

.searchButton:hover {
    height: 44px;
    padding: var(--Base-4-Premitives-2, 8px) 14px;
    border-radius: var(--radius-md, 8px);
    border-radius: 0 var(--Base-4-Premitives-2, 8px) var(--Base-4-Premitives-2, 8px) 0;
    background: var(--Component-colors-Components-Buttons-Primary-button-primary-bg_hover, #BF1343);
    color: #FFF;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.input:hover,
.input:focus, 
.input:active, 
.input:checked {
    border: 1px solid var(--Colors-Border-border-brand-solid, #DA154D);
    box-shadow: 0px 0px 0px 4px rgba(234, 39, 94, 0.24);
    outline: none;
}

.clearButton {
    position: absolute;
    right: 80px; /* Adjust this value based on your layout */
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    outline: none;
    z-index: 1;
}

.clearButton img {
    width: var(--Base-4-Premitives-5, 20px);
    height: var(--Base-4-Premitives-5, 20px);
}