.catSection {
    display: flex;
    max-width: 1280px;
    padding: 48px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}

.featureStoreWrapper{
    display: flex;
    padding: var(--spacing-11xl, 160px) var(--spacing-xl, 16px) var(--spacing-xl, 16px) var(--spacing-xl, 16px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-6xl, 48px);
    align-self: stretch;
    border-radius: var(--radius-2xl, 16px);
    border: 1px solid var(--Colors-Border-border-tertiary, #F2F4F7);
    background: var(--Colors-Background-bg-secondary, #F9FAFB);
    position: relative;
    overflow: hidden;
}

.storeBackgoundWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 224px;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    top: 0;
    left: 0;
}

.storeBackgound {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.storeDetails {
    display: flex;
    max-width: var(--width-md, 560px);
    max-height: var(--Base-4-Premitives-128, 512px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-xl, 16px);
    align-self: stretch;
    z-index: 1;
}

.storeLogo {
    display: flex;
    width: var(--Base-4-Premitives-32, 128px);
    height: var(--Base-4-Premitives-32, 128px);
    padding: var(--spacing-none, 0px);
    justify-content: center;
    align-items: center;
    gap: var(--spacing-none, 0px);
    border-radius: var(--radius-full, 9999px);
    border: 2px solid var(--Colors-Border-border-tertiary, #F2F4F7);
    background: var(--Avatar-company-logo-Senjes-Cuisines, lightgray 50% / cover no-repeat);

    /* Focus rings/ring-gray */
    box-shadow: 0px 0px 0px 4px rgba(152, 162, 179, 0.14);
    overflow: hidden;
}

.storeDescription {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    align-self: stretch;
    overflow: hidden;
    overflow: hidden;
    color: var(--colors-text-text-tertiary-600, #475467);
    text-align: center;
    text-overflow: ellipsis;
    
    /* Text xs/Medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

.smallLandscapeCards{
    display: flex;
    padding: var(--spacing-none, 0px);
    align-items: flex-start;
    align-content: flex-start;
    gap: 16px var(--spacing-xl, 16px);
    align-self: stretch;
    flex-wrap: wrap;
}
