.popCatSection {
    display: flex;
    /* min-width: 375px; */
    max-width: 1280px;
    padding: 48px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}

.catCards {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 16px var(--spacing-system-guides-corner-radius-4, 16px);
    align-self: stretch;
    flex-wrap: wrap;
}

.smallCards {
    display: flex;
    min-width: var(--spacing-system-guides-corner-radius-84, 336px);
    align-items: flex-start;
    align-content: flex-start;
    gap: var(--container-padding-mobile, 16px);
    flex: 1 0 0;
    flex-wrap: wrap;
}
