.heroSection {
    display: flex;
    /* height: 688px;
    min-width: var(--Grid-layouts-iPhone-375px, 375px);
    max-width: var(--grid-layouts-desktop-1280-px, 1280px); */
    padding: var(--spacing-none, 0px) var(--spacing-system-guides-corner-radius-4, 16px) var(--spacing-system-guides-corner-radius-12, 48px) var(--spacing-system-guides-corner-radius-4, 16px);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-system-guides-corner-radius-10, 40px);
    align-self: stretch;
}
