:root {
  transform-origin: top;
  transform: scale(1.0);
  max-width: 1280px;
  margin: auto;
  align-items: center;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: var(--Colors-Background-bg-brand-secondary, #FDE8EE);
  color: var(--colors-text-text-brand-tertiary-600, #DA154D);
}

body {
  margin: auto;
}

.link {
  text-decoration: none;
}

.link:focus-visible,
.link:focus-within {
  border-radius: var(--radius-xs, 4px);
  outline: 1px solid var(--Colors-Border-border-brand-solid, #DA154D);
  /* Focus rings/ring-brand */
  box-shadow: 0px 0px 0px 4px rgba(234, 39, 94, 0.24);
}
