/* :root {
  transform-origin: top;
  transform: scale(1.0);
  max-width: 1280px;
  margin: auto;
  align-items: center;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background: var(--Colors-Background-bg-brand-secondary, #FDE8EE);
  color: var(--colors-text-text-brand-tertiary-600, #DA154D);
}

body {
  margin: auto;
} */
