::selection {
  background: var(--Colors-Background-bg-brand-secondary, #FDE8EE);
  color: var(--colors-text-text-brand-tertiary-600, #DA154D);
}

body {
  margin: auto;
  background-color: #FFF;
}

:root {
  transform-origin: top;
  max-width: 1280px;
  margin: auto;
  align-items: center;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  .element {
    color: var(--colors-text-text-primary-900, #101828);
    background: var(--Colors-Background-bg-primary, #FFF);
  }
}

@media (prefers-color-scheme: dark) {
  .element {
    color: var(--colors-text-text-primary-900, #F5F5F6);
    background: var(--Colors-Background-bg-primary, #0C111D);
  }
}
