.nav {
  display: flex;
  min-width: var(--Grid-layouts-iPhone-375px, 375px);
  max-width: var(--grid-layouts-desktop-1280-px, 1280px);
  min-height: var(--Base-4-Premitives-24, 96px);
  padding: var(--Base-4-Premitives-4, 16px) var(--spacing-system-guides-corner-radius-4, 16px);
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 16px var(--Base-4-Premitives-4, 16px);
  align-self: stretch;
  flex-wrap: wrap;
  border-radius: var(--spacing-system-guides-corner-radius-0, 0px);
  background: var(--Base-White, #FFF);

  /* Background blur/md */
  backdrop-filter: blur(8px);
  }
  
  .menuIcon {
  width: var(--Base-4-Premitives-6, 24px);
  height: var(--Base-4-Premitives-6, 24px);
  cursor: pointer;
  }

.productLogo {
  display: flex;
  align-items: center;
  gap: var(--spacing-system-guides-corner-radius-2, 8px);
  cursor: pointer;
  }

.logo {
  display: flex;
  width: 170px;
  height: 48px;
  padding: 2px 0.738px 2px 0px;
  justify-content: center;
  align-items: center;
  gap: 11.38px;
  cursor: pointer;
  }

.searchFilter {
  display: flex;
  height: 48px;
  min-width: var(--spacing-system-guides-corner-radius-80, 320px);
  max-width: var(--spacing-system-guides-corner-radius-220, 880px);
  align-items: center;
  gap: var(--Base-4-Premitives-3, 12px);
  flex: 1 0 0;
  }

  .notifications {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--spacing-system-guides-corner-radius-1, 4px);
    }
  